html { background-color: #eee; 
    margin: 0; 
    padding: 0;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top left, #FFFFFF 0%, #D9E6EF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top left, #FFFFFF 0%, #D9E6EF 100%);

/* Opera */ 
background-image: -o-linear-gradient(top left, #FFFFFF 0%, #D9E6EF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFFFFF), color-stop(1, #D9E6EF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top left, #FFFFFF 0%, #D9E6EF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom right, #FFFFFF 0%, #D9E6EF 100%);

}

body { margin: 0.7em 0 0 0; padding: 0; font-family: 'Lato', 'sans-serif';

}

section#sidebar { position: fixed;
    width: 18%; 
    height: 100%; 
    margin: 0 0.4em;
    color:#222;
    /*background-color: #622; */
}

section#container { 
    
    margin-left: 19%;
}    

h1 { margin: 0; padding: 0; font-weight: 900; font-size: 48px; font-style: italic; }

/*h1, p { background-color: #ff4;}*/

.item { width:350px; 
    height: 350px; 
    background-color: #333; 
    margin:0 0 8px 8px; 
    float: left;}


@media (max-width: 640px)
{
    section#sidebar {display: none;}
    section#container { margin: 0;}
}