/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
    /*max-width: 1980px;*/
}

/*html , body {
    height: 100% !important; 
}*/

body {
    /*min-height: 800px;*/
    display:flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: flex-start;
    /*align-content: stretch;*/
    /*align-items: baseline;*/
    font-family: 'Lato', sans-serif;
}

.sidebar {
    min-width: 20%;
    max-width: 300px;
    /*height: 100%;*/
    display: flex;
    /*height: 100%;
    max-height: 100%;*/
    /*align-items: stretch;
    align-content: stretch;*/
    background-image: url(../img/SiteBG2.png);
    box-shadow: 2px 2px 2px 2px #ccc;
    z-index: 9;
    /*position: fixed;
    height: 100%;*/
}

.sidebar img {
    max-width: 100%;
    min-width: 100%;
}

.sidebar ul {
    padding: 0;

}

.sidebar p {
    margin: 0 2%;
    font-size: 1.2em;
}

.sidebar li{
    width: 50%;
    padding: 8px;
    color: #000;
    border: 3px solid #111;
    text-align: center;
    outline: none;
    text-decoration: none;
    margin: 0.5em auto;
    padding: 0.9em;
    border-radius: 5px;
    list-style: none;
    cursor:pointer;
}

.sidebar li a{
    font-size: 2em;
    text-decoration: none;
    color: black;
}

.sidebar li:hover {
    background-color: aquamarine;
}

.gallery {
    display: flex;
    background-color: whitesmoke;
    min-width: 80%;
    flex-wrap: wrap;
    padding-top: 1em;
    justify-content: space-around;
}

.post {
    /*display: flex;*/
    min-width: 350px;
    max-width: 350px;
    /*height: auto;*/
    /*max-height: 400px;*/
    background-color: #ffffff;
    margin-left: 2%;
    margin-bottom: 2em;
   /* align-items: center;*/
    padding-bottom: 1em;
    box-shadow: 0px 4px 4px 0px #ccc;
    transition: all 0.5s ease;
}

.post img {
    min-width: 100%;
    max-width: 350px;
}

.post:hover {
    box-shadow: 0px 16px 16px 0px #aaa;
    color: blueviolet;
    transition: all 0.5s ease;
}

.post h3 {
    font-weight: 900;
    font-style: italic;
    font-size: 2em;
    margin: 2% 5% 0 5%;
}

.post p {
    max-width: 350px;
    border-top: 1px solid grey;
    margin: 0 5%;
    padding-top: 2%;
    font-family: "Garamond", serif;
    font-size: 1.2em;
}

.post a {
    color: black;
    text-decoration: none;
}

.mobile-title {
    display:none;
}

footer {
    display: none;
}

.graphic-content{
    min-width: 75%;
    margin: 0 1%;
}

.graphic-content p{
    max-width: 920px;
}

.graphic-content h2{
    font-size: 2em;
    font-weight: 900;
    font-style: italic;
    margin: 0.1em;
}

.graphic-content img{
    max-width: 960px;
    text-align: center;
}

.fotorama {
    margin: auto;
}



.slides img {
    max-width: 100px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media only screen and (max-width: 40em) {
    .logo-sketch {
        display: none;
    }
    body {
        flex-direction: column;
    }
    .gallery, .graphic-content {
        margin-bottom: 5em;
    }
    
    .mobile-title {
    display: inherit;
    font-weight: 900;
    font-style: italic;
    font-size: 4em;
    text-align: center;
        margin: 0.2em 0;
    }
    
    .sidebar {
    min-width: 100%;
    /*max-width: 300px;*/
    }
    
    footer {
        display: block; 
        min-height: 64px;
        text-align: center;
        background-color: #d0f4f3;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding-top: 0.5em;
        font-size: 1.2em;
    }
    
    #mobile-name-remove {
        display:none;
    }
    
    .graphic-content{
        margin-top: 1em;
    }
    
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}